.favorite {

  // .favorite__container

  &__container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  // .favorite__title

  &__title {
    @include heading-two;
    text-align: center;

    span {
      font-style: italic;
      color: $colorTextAccent;
    }

    @include margin-bottom40;

    @include media-query-max-width(small) {
      font-size: clamp(2rem, -2.847rem + 20.41vw, 4.5rem);
    }

    @include media-query-max-width(xSmall) {
      @include heading-mobile-two;
    }
  }

  // .favorite__slider

  &__slider {}
}

.slider {
  position: relative;

  // .slider__wrapper

  &__wrapper {
    max-width: 480px;
    margin: 0 auto;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  // .slider__items

  &__items {
    display: flex;
    transition: transform 0.8s ease-out;
  }

  // .slider__item

  &__item {
    max-width: 488px;
    flex: 0 0 100%;
    text-align: center;
    user-select: none;
  }

  // .slider__navigation

  &__navigation {
    @include margin-bottom40;

    @include media-query-max-width(mobileSmall) {
      display: none;
    }
  }

  // .slider__button-prev

  &__button-prev {
    position: absolute;
    top: 42.8%;
    left: 0.3%;
    border-radius: 100px;
    border: 1px solid $colorBorderDark;
    width: 60px;
    height: 60px;
    transition: all 0.4s ease 0s;

    svg {
      stroke: $colorTextDark;
      transition: all 0.4s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $colorBackgroundContainer;

        svg {
          stroke: $colorTextLight;
        }
      }
    }
  }

  // .slider__button-next

  &__button-next {
    position: absolute;
    top: 42.8%;
    right: 0.3%;
    border-radius: 100px;
    border: 1px solid $colorBorderDark;
    width: 60px;
    height: 60px;
    transition: all 0.4s ease 0s;

    svg {
      stroke: $colorTextDark;
      transition: all 0.4s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $colorBackgroundContainer;

        svg {
          stroke: $colorTextLight;
        }
      }
    }
  }

  // .slider__pagination

  &__pagination {
    display: flex;
    column-gap: 12px;
    justify-content: center;
  }

  // .slider__line

  &__line {
    border-radius: 100px;
    width: 40px;
    height: 4px;
    background-color: $colorBorderLight;
    //transition: background-color 0.3s linear;

    // .slider__line_one

    &_one {
      //background-color: $colorBorderDark;
    }

    // .slider__line_two

    &_two {}

    // .slider__line_three

    &_three {}
  }
}

.content {

  // .content__image-ibg

  &__image-ibg {
    padding-bottom: 100%;
    pointer-events: none;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .content__title

  &__title {
    @include heading-three;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .content__text

  &__text {
    @include body-medium;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .content__price

  &__price {
    @include heading-three;
  }
}