$fontFamily: "Inter", sans-serif;

$colorTextDark: #403F3D;
$colorTextLight: #E1D4C9;
$colorTextAccent: #B0907A;

$colorBorderDark: #665F55;
$colorBorderLight: #C1B6AD;

$colorBackgroundBody: #E1D4C9;
$colorBackgroundContainer: #665F55;
$colorBackgroundBackdrop: rgba(64, 63, 61, 0.80);

$fontStyle: italic;

$fontWeight400: 400;
$fontWeight600: 600;

$fontSize72: 72px;
$fontSize60: 60px;
$fontSize42: 42px;
$fontSize32: 32px;
$fontSize24: 24px;
$fontSize16: 16px;
$fontSize10: 10px;

$fontHeight150: 150%;
$fontHeight140: 140%;
$fontHeight125: 125%;
$fontHeight115: 115%;
$fontHeight105: 105%;