@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/* Обнуление стилей */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

body {
  font: 600 16px "Inter", sans-serif;
  color: #403F3D;
  background-color: #E1D4C9;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 380px) {
  [class*=__container] {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__icon {
  margin-left: auto;
  position: relative;
  padding-right: 28px;
  z-index: 5;
}
.header__icon::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/header/coffee-cup.svg);
}
.header__icon::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media (any-hover: hover) {
  .header__icon:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@media (max-width: 768px) {
  .header__icon {
    margin: 0;
    padding-right: 56px;
  }
  .header__icon::after {
    content: "";
    position: absolute;
    top: -3px;
    right: px;
    width: 40px;
    height: 40px;
    background-image: url(../img/header/coffee-cup40.svg);
  }
}

@media (max-width: 768px) {
  .menu-header {
    display: block;
    padding: 60px 40px 384px 40px;
    position: fixed;
    z-index: 5;
    top: 100px;
    right: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 125%;
    background-color: #E1D4C9;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    overflow: auto;
  }
  .menu-header.menu-active {
    right: 0;
  }
}
.menu-header__body {
  margin-left: auto;
  line-height: 150%;
}
@media (max-width: 768px) {
  .menu-header__body {
    margin: 0;
  }
  .menu-header__body:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .menu-header__list {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 769px) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 769px) and (max-width: 991.98px) {
  .menu-header__list {
    gap: 25px;
  }
}
.menu-header__link {
  position: relative;
}
.menu-header__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media (any-hover: hover) {
  .menu-header__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 768px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid #665F55;
  }
  .icon-menu span {
    width: 16px;
    height: 2px;
    background-color: #403F3D;
    border-radius: 2px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .icon-menu.menu-active {
    gap: 0;
  }
  .icon-menu.menu-active .icon-menu__top {
    -webkit-transform: rotate(-45deg) translate(0px, 60%);
        -ms-transform: rotate(-45deg) translate(0px, 60%);
            transform: rotate(-45deg) translate(0px, 60%);
  }
  .icon-menu.menu-active .icon-menu__bottom {
    -webkit-transform: rotate(45deg) translate(0px, -80%);
        -ms-transform: rotate(45deg) translate(0px, -80%);
            transform: rotate(45deg) translate(0px, -80%);
  }
}

.enjoy__body {
  position: relative;
}
.enjoy__content {
  position: relative;
  z-index: 1;
  max-width: 630px;
  padding: 100px 0 100px 100px;
}
@media (max-width: 768px) {
  .enjoy__content {
    max-width: 590px;
    width: 100%;
    padding-left: 60px;
  }
}
@media (max-width: 575.98px) {
  .enjoy__content {
    padding: 60px 5px 60px 16px;
  }
}
.enjoy__title {
  font-size: 72px;
  line-height: 105%;
  color: #E1D4C9;
}
.enjoy__title span {
  font-style: italic;
  color: #B0907A;
}
.enjoy__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 670px) {
  .enjoy__title {
    font-size: clamp(2.625rem, 1.315rem + 5.52vw, 3.625rem);
  }
}
@media (max-width: 380px) {
  .enjoy__title {
    font-size: 42px;
    line-height: 115%;
  }
}
@media (max-width: 360px) {
  .enjoy__title {
    font-size: clamp(2.25rem, 0.25rem + 10vw, 2.625rem);
  }
}
.enjoy__text {
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
}
.enjoy__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 380px) {
  .enjoy__text {
    max-width: 316px;
    width: 100%;
  }
}
.enjoy__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (any-hover: hover) {
  .enjoy__menu:hover span {
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  .enjoy__menu:hover svg {
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    opacity: 1;
  }
}
.enjoy__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #403F3D;
  line-height: 150%;
  padding: 20px 68px;
  background-color: #E1D4C9;
  border-radius: 100px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .enjoy__link {
    gap: 17px;
    padding: 20px 65px 20px 55px;
  }
}
.enjoy__link span {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: translateX(22%);
      -ms-transform: translateX(22%);
          transform: translateX(22%);
}
.enjoy__link svg {
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 0;
}
@media (max-width: 768px) {
  .enjoy__link svg {
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.enjoy__video {
  border-radius: 40px;
}
.enjoy__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.favorite__container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.favorite__title {
  font-size: 60px;
  line-height: 125%;
  text-align: center;
}
.favorite__title span {
  font-style: italic;
  color: #B0907A;
}
.favorite__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  .favorite__title {
    font-size: clamp(2rem, -2.847rem + 20.41vw, 4.5rem);
  }
}
@media (max-width: 380px) {
  .favorite__title {
    font-size: 32px;
    line-height: 125%;
  }
}
.slider {
  position: relative;
}
.slider__wrapper {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}
.slider__wrapper:not(:last-child) {
  margin-bottom: 40px;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}
.slider__item {
  max-width: 488px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider__navigation:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 479.98px) {
  .slider__navigation {
    display: none;
  }
}
.slider__button-prev {
  position: absolute;
  top: 42.8%;
  left: 0.3%;
  border-radius: 100px;
  border: 1px solid #665F55;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.slider__button-prev svg {
  stroke: #403F3D;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .slider__button-prev:hover {
    background-color: #665F55;
  }
  .slider__button-prev:hover svg {
    stroke: #E1D4C9;
  }
}
.slider__button-next {
  position: absolute;
  top: 42.8%;
  right: 0.3%;
  border-radius: 100px;
  border: 1px solid #665F55;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.slider__button-next svg {
  stroke: #403F3D;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .slider__button-next:hover {
    background-color: #665F55;
  }
  .slider__button-next:hover svg {
    stroke: #E1D4C9;
  }
}
.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__line {
  border-radius: 100px;
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
}
.content__image-ibg {
  padding-bottom: 100%;
  pointer-events: none;
}
.content__image-ibg:not(:last-child) {
  margin-bottom: 20px;
}
.content__title {
  font-size: 24px;
  line-height: 125%;
}
.content__title:not(:last-child) {
  margin-bottom: 16px;
}
.content__text {
  font-weight: 400;
  line-height: 150%;
}
.content__text:not(:last-child) {
  margin-bottom: 16px;
}
.content__price {
  font-size: 24px;
  line-height: 125%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about__container {
  padding-bottom: 50px;
  padding-top: 50px;
}
.about__text {
  font-size: 60px;
  line-height: 125%;
}
.about__text:not(:last-child) {
  margin-bottom: 40px;
}
.about__text span {
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 760px) {
  .about__text {
    font-size: clamp(2rem, -0.5rem + 10.53vw, 4.5rem);
  }
}
@media (max-width: 380px) {
  .about__text {
    font-size: 32px;
    line-height: 125%;
  }
}
.about__images {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}
@media (max-width: 1200px) {
  .about__images {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.image-about__line {
  display: grid;
  grid-template-rows: auto auto;
  gap: 40px;
}
@media (max-width: 1200px) {
  .image-about__line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.image-about__img {
  overflow: hidden;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 660px;
  width: 100%;
}
.image-about__img img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .image-about__img img:hover {
    -webkit-transform: scale(0.91);
        -ms-transform: scale(0.91);
            transform: scale(0.91);
  }
}
@media (max-width: 1200px) {
  .image-about__img {
    max-width: 688px;
    width: 100%;
  }
}
.image-about__img_one {
  grid-row: span 2;
  max-height: 590px;
}
.image-about__img_two {
  grid-row: span 1;
  max-height: 430px;
}
@media (max-width: 768px) {
  .image-about__img_two {
    display: none;
  }
}
.image-about__img_three {
  grid-row: span 1;
  max-height: 430px;
}
@media (max-width: 768px) {
  .image-about__img_three {
    display: none;
  }
}
.image-about__img_four {
  grid-row: span 2;
  max-height: 590px;
}

.mobile__container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.mobile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .mobile__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .mobile__body {
    gap: 40px;
  }
}
.mobile__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.mobile__title {
  font-size: 60px;
  line-height: 125%;
}
.mobile__title:not(:last-child) {
  margin-bottom: 40px;
}
.mobile__title span {
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 575.98px) {
  .mobile__title {
    font-size: clamp(2rem, -2.847rem + 20.41vw, 4.5rem);
  }
}
@media (max-width: 380px) {
  .mobile__title {
    font-size: 32px;
    line-height: 125%;
  }
}
.mobile__text {
  font-weight: 400;
  line-height: 150%;
}
.mobile__text:not(:last-child) {
  margin-bottom: 40px;
}
.mobile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 575.98px) {
  .mobile__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.mobile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #665F55;
  max-width: 200px;
  max-height: 64px;
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.mobile__link svg {
  margin-right: 8px;
  fill: #403F3D;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .mobile__link:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .mobile__link:hover svg {
    fill: #E1D4C9;
  }
}
.mobile__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5px;
}
.mobile__top {
  font-size: 10px;
  line-height: 140%;
}
.mobile__bottom {
  line-height: 150%;
}
.mobile__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 46.33%;
}
@media (max-width: 1200px) {
  .mobile__image-ibg {
    width: 56.3%;
    padding-bottom: 56.3%;
  }
}
@media (max-width: 991.98px) {
  .mobile__image-ibg {
    width: 69.2%;
    padding-bottom: 69.2%;
  }
}
@media (max-width: 768px) {
  .mobile__image-ibg {
    width: 91.6%;
    padding-bottom: 91.6%;
  }
}
@media (max-width: 380px) {
  .mobile__image-ibg {
    width: 100%;
    padding-bottom: 100%;
  }
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  border-radius: 40px;
  background-color: #665F55;
  padding: 100px;
}
@media (max-width: 1200px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 100px 60px;
  }
}
@media (max-width: 575.98px) {
  .footer__body {
    gap: 40px;
    padding: 60px 16px;
  }
}
.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.footer__text {
  font-size: 60px;
  line-height: 125%;
  color: #E1D4C9;
}
.footer__text:not(:last-child) {
  margin-bottom: 40px;
}
.footer__text span {
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 575.98px) {
  .footer__text {
    font-size: clamp(2rem, -2.847rem + 20.41vw, 4.5rem);
  }
}
@media (max-width: 380px) {
  .footer__text {
    font-size: 32px;
    line-height: 125%;
  }
}
.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.icons-socials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.icons-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.icons-socials__link svg {
  stroke: #E1D4C9;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .icons-socials__link:hover {
    background-color: #E1D4C9;
  }
  .icons-socials__link:hover svg {
    stroke: #403F3D;
  }
}

.contact-footer {
  color: #E1D4C9;
}
.contact-footer__text {
  font-size: 24px;
  line-height: 125%;
}
.contact-footer__text:not(:last-child) {
  margin-bottom: 40px;
}
.contact-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
@media (max-width: 768px) {
  .contact-footer__items {
    gap: 19px;
  }
}
@media (max-width: 575.98px) {
  .contact-footer__items {
    gap: 17px;
  }
}
.contact-footer__item svg {
  margin-right: 5px;
}
.contact-footer__link {
  position: relative;
  line-height: 150%;
}
.contact-footer__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E1D4C9;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
@media (any-hover: hover) {
  .contact-footer__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.contact-footer__schedule {
  line-height: 150%;
}

body.lock-menu {
  overflow: hidden;
}

.menu__container {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .menu__container {
    padding-bottom: 100px;
  }
}
.menu__text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
}
.menu__text:not(:last-child) {
  margin-bottom: 40px;
}
.menu__text span {
  font-style: italic;
  color: #B0907A;
}
@media (max-width: 575.98px) {
  .menu__text {
    font-size: clamp(2rem, -2.847rem + 20.41vw, 4.5rem);
  }
}
@media (max-width: 380px) {
  .menu__text {
    font-size: 32px;
    line-height: 125%;
  }
}
.menu__tabs:not(:last-child) {
  margin-bottom: 40px;
}
.menu__loader {
  border-radius: 100px;
  border: 1px solid #665F55;
  width: 60px;
  height: 60px;
}
@media (any-hover: hover) {
  .menu__loader:hover {
    background-color: #665F55;
  }
}

.tabs-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.tabs-menu__nav:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 380px) {
  .tabs-menu__nav {
    gap: 8px;
  }
}
@media (max-width: 370px) {
  .tabs-menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.tabs-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 6px 16px 9px 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .tabs-menu__button:hover {
    background-color: #665F55;
  }
  .tabs-menu__button:hover .tabs-menu__btn-img {
    background-color: #E1D4C9;
  }
  .tabs-menu__button:hover .tabs-menu__btn-text {
    color: #E1D4C9;
  }
}
.tabs-menu__button.menu-button-active {
  background-color: #665F55;
}
.tabs-menu__button.menu-button-active .tabs-menu__btn-img {
  background-color: #E1D4C9;
}
.tabs-menu__button.menu-button-active .tabs-menu__btn-text {
  color: #E1D4C9;
}
.tabs-menu__btn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  background-color: #C1B6AD;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
.tabs-menu__btn-img img {
  display: block;
  max-width: 100%;
}
.tabs-menu__btn-text {
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.tabs-menu__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  min-height: 506px;
}
@media (max-width: 1350px) {
  .tabs-menu__body {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .tabs-menu__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 740px) {
  .tabs-menu__body {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
.tabs-menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  max-width: 310px;
  width: 100%;
  min-height: 506px;
  cursor: pointer;
}
.tabs-menu__image {
  overflow: hidden;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 340px;
  max-height: 310px;
  width: 100%;
}
.tabs-menu__image img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 40px;
}
@media (any-hover: hover) {
  .tabs-menu__image img:hover {
    -webkit-transform: scale(0.92);
        -ms-transform: scale(0.92);
            transform: scale(0.92);
  }
}
.tabs-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.tabs-menu__title {
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 12px;
}
.tabs-menu__text {
  font-weight: 400;
  line-height: 150%;
}
.tabs-menu__price {
  font-size: 24px;
  line-height: 125%;
  margin-top: auto;
}

.footer__container_menu {
  padding-top: 0;
}

.header__icon-menu {
  position: relative;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 28px;
  margin-left: auto;
}
.header__icon-menu::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/header/coffee-cup.svg);
}
.header__icon-menu::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #403F3D;
}
@media (max-width: 768px) {
  .header__icon-menu {
    padding-right: 56px;
  }
  .header__icon-menu::after {
    content: "";
    position: absolute;
    top: -3px;
    right: px;
    width: 40px;
    height: 40px;
    background-image: url(../img/header/coffee-cup40.svg);
  }
}

.fade-in {
  -webkit-animation: fadeIn 0.3s ease-in;
          animation: fadeIn 0.3s ease-in;
}

.fade-out {
  -webkit-animation: fadeOut 0.3s ease-out;
          animation: fadeOut 0.3s ease-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(64, 63, 61, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-out, visibility 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out, -webkit-transform 0.5s ease-out;
  cursor: pointer;
}
.modal.popup-open {
  opacity: 1;
  visibility: visible;
}
.modal.popup-open .modal-menu__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.modal-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}
@media (max-width: 720px) {
  .modal-menu__body {
    padding: 10px;
  }
}
.modal-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 100%;
  border-radius: 40px;
  background-color: #E1D4C9;
  padding: 16px;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
@media (max-width: 768px) {
  .modal-menu__content {
    max-width: 688px;
  }
}
@media (max-width: 720px) {
  .modal-menu__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 380px) {
  .modal-menu__content {
    max-width: 340px;
  }
}
.modal-menu__left {
  max-width: 310px;
  width: 100%;
}
@media (max-width: 720px) {
  .modal-menu__left {
    display: none;
  }
}
.modal-menu__image-ibg {
  padding-bottom: 100%;
}
.modal-menu__image-ibg img {
  border-radius: 40px;
}
.modal-menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 458px;
  width: 100%;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .modal-menu__right {
    max-width: 346px;
  }
}
@media (max-width: 720px) {
  .modal-menu__right {
    padding-left: 0;
  }
}
@media (max-width: 380px) {
  .modal-menu__right {
    max-width: 310px;
  }
}
.modal-menu__title {
  font-size: 24px;
  line-height: 125%;
}
.modal-menu__title:not(:last-child) {
  margin-bottom: 12px;
}
.modal-menu__text {
  font-weight: 400;
  line-height: 150%;
}
.modal-menu__total {
  font-size: 24px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 52px;
  gap: 8px;
  border-top: 1px solid #C1B6AD;
}
@media (max-width: 768px) {
  .modal-menu__info {
    min-height: 66px;
  }
}
.modal-menu__info svg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 12px;
}
.modal-menu__button {
  border-radius: 100px;
  border: 1px solid #665F55;
  font-weight: 600;
  line-height: 150%;
  padding: 10px 78px;
}
@media (any-hover: hover) {
  .modal-menu__button:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
}

.menu-size__subtitle {
  font-weight: 400;
  line-height: 150%;
}
.menu-size__subtitle:not(:last-child) {
  margin-bottom: 8px;
}
.menu-size__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.menu-size__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 16px 7px 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  font-weight: 600;
}
.menu-size__button.size-active {
  background-color: #665F55;
  color: #E1D4C9;
}
.menu-size__button.size-active .menu-size__name {
  background-color: #E1D4C9;
  color: #403F3D;
}
.menu-size__name {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  padding: 3px 7px 3px 8px;
  line-height: 150%;
  text-transform: uppercase;
}

.menu-additives__subtitle {
  font-weight: 400;
  line-height: 150%;
}
.menu-additives__subtitle:not(:last-child) {
  margin-bottom: 8px;
}
.menu-additives__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.menu-additives__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 16px 7px 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  font-weight: 600;
}
.menu-additives__button.additives-active {
  background-color: #665F55;
  color: #E1D4C9;
}
.menu-additives__button.additives-active .menu-additives__index {
  background-color: #E1D4C9;
  color: #403F3D;
}
.menu-additives__index {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  color: #403F3D;
  padding: 3px 7px 3px 8px;
  line-height: 150%;
}

.menu-price__count span {
  margin-right: 4px;
}

.menu-info__text {
  font-size: 10px;
  line-height: 140%;
}